build/
out/
dist/
bin/
gen/
captures/
classes/
projectFilesBackup/
project.properties
.DS_Store
.idea
*.iml
*.iws
*.swp
.cxx
.gradle
.externalNativeBuild
local.properties
release.jks
emulair-app/build
emulair-app/gplayDownloadedCores
emulair-app-build-gplay/build
emulair-app-build-nogplay/build
google-services.json