<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher,ImpliedTouchscreenHardware,MissingLeanbackSupport">

    <application>
        <activity
            android:name="com.bigbratan.emulair.ext.managerSaveSync.ActivateGoogleDriveActivity"
            android:theme="@style/Theme.EmulairMaterial.Invisible"/>
    </application>
</manifest>
